.contactMe {
    position: absolute;
    top: 150px;
    left: 50%;
    background: #901c1c;
    border: .5px solid var(--color3);
    border-radius: 5px;
    padding: .625rem 1.10rem;
    color: #fff;
    width: 140px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.contactMe:hover {
    /* width: 125px;
    height: auto;
    font-size: 18px; */
    transform: scale(1.1);
}

@media screen and (max-width: 1013px) {
    .contactMe {
        position: fixed;
        z-index: 18;
        top: 95.5vh;
        bottom: 20px;
        left: 42vw;
        right: 50vw;
    }
}

@media screen and (max-width: 830px) {
    .contactMe {
        /* top: 94vh; */
        padding-top: 9px;
        height: 40px;
        left: 36vw;
        /* right: 25%; */
    }
}

@media screen and (max-width: 530px) {
    .contactMe {
        right: 25%;
    }
}