.selectContainer {
    position: relative;
    display: flex;
}

.dropdown {
    position: relative;
    top: -10px;
    background-color: #901c1c;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 5px;
    width: 140px;
    /* height: 16px; */
    margin-left: 20px;
    cursor: pointer;
}

.optionSelected {
    display: flex;
    position: relative;
    margin-left: 10px;
}

.optionContainer {
    position: absolute;
    width: 120px;
    left: 0;
    padding: 10px;
    transition: 0.3s;
    background-color: #901c1c;
    z-index: 11;
    border-radius: 0 0 5px 5px;
}

.closeOptions {
    top: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.openOptions {
    top: 32px;
    cursor: pointer;
}

.option {
    display: flex;
    padding: 10px;
    border-top: 1px solid #fff;
    position: relative;
    left: 0px;
}

.option:hover {
    opacity: 70%;
}

.fa-chevron-down {
    position: absolute;
    color: #fff;
    top: 0;
    height: 16px;
    width: 14px;
    right: 13px;
    pointer-events: none;
    transition: 0.3s;
}

.close {
    transform: rotate(0deg);
}

.open {
    transform: rotate(180deg);
}

@media screen and (max-width: 830px) {
    .spanSort,
    .dropdownBtn {
        font-size: 13px;
    }
    .fa-chevron-down,
    .fa-chevron-up {
        margin-left: 10px;
    }
}