.lightboxPage {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 100;
}

.btnLightboxFAS {
    border: none;
    background-color: transparent;
}

.lightboxClose {
    position: relative;
    top: -210px;
    right: 30px;
    color: var(--color1);
    font-size: 40px;
}

.lightboxContainer :nth-child(2n) {
    background-color: transparent;
    border: none;
}

.lightboxContainer :nth-child(4n) {
    position: relative;
    background-color: transparent;
    border: none;
}

.fa-chevron-right,
.fa-chevron-left {
    position: relative;
    color: var(--color1);
    font-size: 40px;
    cursor: pointer;
    z-index: 1500;
}

.fa-chevron-right {
    right: 0;
    margin-left: 40px;
}

.fa-chevron-left {
    left: 0;
    margin-right: 40px;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover,
.lightboxClose:hover {
    transform: scale(1.1);
}

.lightboxImg,
.lightboxVideo {
    position: relative;
    border-radius: .3125rem;
    height: 18.75rem;
    width: 21.875rem;
    object-fit: cover;
    margin-left: 0;
    margin: 50px;
    transform: scale(1.5);
}

.lightboxImgContainer img {
    border-radius: .3125rem;
    height: 18.75rem;
    width: 21.875rem;
    object-fit: cover;
    margin-left: 0;
    margin: 50px;
    transform: scale(1.5);
}

.lightboxPage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.lightboxContainer {
    position: absolute;
    top: 30vh;
    right: 0vw;
    left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
}

.lightboxTitleContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 33.875rem;
    bottom: -70px;
}

.lightboxTitle {
    font-size: 25px;
    color: var(--color2);
}

@media screen and (max-width: 1013px) {
    .lightboxImgContainer img {
        height: 13.75rem;
        width: 15.875rem;
    }
    .lightboxImg {
        height: 13.75rem;
        width: 15.875rem;
    }
    .lightboxVideo {
        height: 13.75rem;
        width: 15.875rem;
    }
    .lightboxClose {
        font-size: 35px;
    }
    .lightboxContainer :nth-child(4n) {
        top: -153px;
        right: 28px;
    }
    .fa-chevron-right {
        margin-left: 12px;
    }
    .fa-chevron-left {
        margin-right: 12px;
    }
    .lightboxTitleContainer {
        width: 25.3rem;
        bottom: -40px;
    }
    .lightboxTitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 830px) {
    .lightboxImgContainer img {
        height: 12.75rem;
        width: 13.875rem;
    }
    .lightboxImg {
        height: 12.75rem;
        width: 13.875rem;
    }
    .lightboxVideo {
        height: 12.75rem;
        width: 13.875rem;
    }
    .lightboxClose {
        position: relative;
        font-size: 30px;
    }
    .lightboxContainer :nth-child(4n) {
        top: -142px;
        right: 32px;
    }
    .fa-chevron-right {
        margin-left: 8px;
    }
    .fa-chevron-left {
        margin-right: 8px;
    }
    .lightboxTitleContainer {
        width: 21.875rem;
        bottom: -30px;
    }
    .lightboxTitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 637px) {
    .lightboxImgContainer img {
        height: 8.75rem;
        width: 8.875rem;
    }
    .lightboxImg {
        height: 8.75rem;
        width: 8.875rem;
    }
    .lightboxVideo {
        height: 8.75rem;
        width: 8.875rem;
    }
    .lightboxClose {
        position: relative;
        font-size: 25px;
    }
    .lightboxContainer :nth-child(4n) {
        top: -97px;
        right: 22px;
    }
    .fa-chevron-right {
        margin-left: -16px;
        font-size: 25px;
    }
    .fa-chevron-left {
        left: 0;
        margin-right: -15px;
        font-size: 25px;
    }
    .lightboxTitleContainer {
        width: 14.2rem;
        bottom: -10px;
    }
    .lightboxTitle {
        font-size: 16px;
    }
}