.likeAndPriceBottom {
    position: fixed;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    right: 50px;
    width: 21rem;
    background: #db8876;
    height: 70px;
    border-radius: .3rem;
}

.likeAndPriceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.likeAndPriceLike,
.likeAndPriceHeart,
.likeAndPricePrice {
    font-size: 1.2em;
    font-weight: 500;
}

.likeAndPriceZoneLike {
    margin-right: 105px;
}

@media screen and (max-width: 1013px) {
    .likeAndPriceBottom {
        display: none;
    }
}