.mediaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.mediaLink {
    max-height: 18.75rem;
    max-width: 21.875rem;
}

.mediaImage {
    border-radius: .3125rem;
    height: 18.75rem;
    width: 21.875rem;
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
    z-index: 10;
    cursor: pointer;
}

.mediaVideo {
    border-radius: .3125rem;
    /* max-height: 11.83rem; */
    width: 22rem;
    height: 18.70rem;
    /* width: 100%; */
    object-fit: cover;
    z-index: 10;
    cursor: pointer;
}

video {
    border-radius: .3125rem;
    height: 18.75rem;
    width: 10.875rem;
    object-fit: cover;
    z-index: 10;
    cursor: pointer;
}

.mediaTitle,
.mediaPrice,
.mediaLike {
    font-size: 1.1m;
    font-weight: 400;
    color: var(--color1);
}

.mediaPrice,
.mediaLike {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.mediaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0;
    /* margin-left: 50px; */
}

.mediaNbLike {
    margin-left: 8px;
    margin-right: 4px;
}

@media screen and (max-width: 1312px) {
    .mediaImage {
        /* position: relative; */
        border-radius: .3125rem;
        height: 11.875rem;
        width: 20.9rem;
        object-fit: cover;
    }
    .mediaVideo {
        height: 11.875rem;
        width: 20.9rem;
    }
}

@media screen and (max-width: 1013px) {
    .mediaImage {
        position: relative;
    }
}