/* Variables */

:root {
    --color1: #901C1C;
    --color2: #d3573C;
    --color3: #fafafa;
    --color4: #525252;
}

body {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

a:link {
    text-decoration: none;
}