.index--section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

@media screen and (max-width: 1013px) {
    .index--section {
        flex-wrap: no-wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerCard {
        margin-top: 25px;
    }
}

.containerCard {
    width: 30%;
}

.index--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.index--header-card-link {
    cursor: pointer;
}

.name--header-card {
    color: var(--color2);
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.location--body-card {
    color: var(--color1);
    font-size: 20px;
    margin-bottom: 12px;
}

.citation--body-card {
    color: black;
    font-size: 15px;
    margin-bottom: 12px;
}

.price--body-card {
    color: var(--color4);
    font-size: 15px;
    margin-bottom: 15px;
}

.index--header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.photoProfil {
    height: 13rem;
    width: 13rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(165, 165, 165, 0.461);
}

.nav-tag {
    cursor: pointer;
}

.nav-tag:hover {
    background-color: var(--color1);
    color: white;
}

.index--body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.index--footer-card {
    display: flex;
    justify-content: space-around;
}

#navTagsCard {
    margin-top: 5px;
}