.index--body-card-photograph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photographe--section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    left: 8%;
    /* width: 80vw; */
}

.containerCardPhotograph {
    background-color: var(--color3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    width: 80vw;
    padding: 50px 30px;
    margin-top: 100px;
}

.navTags-photograph {
    margin-top: 20px;
}

.name--header-card-photograph {
    color: var(--color2);
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bold;
}

.location--body-card-photograph {
    color: var(--color1);
    font-size: 20px;
    margin-bottom: 25px;
}

.citation {
    color: var(--color1);
    font-size: 15px;
    margin-bottom: 12px;
    /* text-align: center; */
}

.sortZone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0 50px 0;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
}

.spanSort {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5625rem;
}

.mediaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.mediaImage {
    border-radius: .3125rem;
    height: 18.75rem;
    width: 21.875rem;
    object-fit: cover;
    z-index: 10
}

.mediaZoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
}

.mediaTitle,
.mediaPrice,
.mediaLike {
    font-size: 1.1m;
    font-weight: 400;
    color: var(--color1);
}

.mediaPrice,
.mediaLike {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.mediaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0;
    margin-left: 50px;
}

.far {
    margin-left: 5px;
}

.fas {
    margin-left: 5px;
}

.fa-chevron-down,
.fa-chevron-up {
    margin-left: 20px;
}

.mediaNbLike {
    margin-left: 8px;
}

.dropdownContainer {
    position: absolute;
    left: 10vw;
}

.dropdownDate {
    /* align-items: center; */
    background: #901c1c;
    /* border: none; */
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
}

.dropdownDate:hover,
.dropdownTitle:hover {
    opacity: 0.83;
}

.dropdownTitle {
    background: #901c1c;
    /* border: none; */
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
}

.dropdownBtn {
    align-items: center;
    background: #901c1c;
    z-index: 100;
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
    cursor: pointer;
    margin-top: -15px;
}

.far,
.fas {
    cursor: pointer;
}

.far:hover,
.fa-heart:hover {
    transform: scale(1.1)
}

.likeAndPriceBottom {
    position: fixed;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    right: 50px;
    width: 21rem;
    background: #db8876;
    height: 70px;
    border-radius: .3rem;
}

.likeAndPriceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.likeAndPriceLike,
.likeAndPriceHeart,
.likeAndPricePrice {
    font-size: 1.2em;
    font-weight: 500;
}

.likeAndPriceZoneLike {
    margin-right: 105px;
}

.contactMe {
    position: absolute;
    top: 150px;
    left: 50%;
    background: #901c1c;
    border: .5px solid var(--color3);
    border-radius: 5px;
    padding: .625rem 1.25rem;
    color: #fff;
    width: 110px;
    cursor: pointer;
}

.contactMe:hover {
    /* width: 125px;
    height: auto;
    font-size: 18px; */
    transform: scale(1.1);
}

.formPage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    /* background-color: green; */
}

.formContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    flex-wrap: wrap;
    top: 100px;
    left: 25%;
    right: 25%;
    z-index: 1000;
    height: 800px;
    width: 600px;
    background-color: #db8876;
    border-radius: .3rem;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formH1 {
    position: relative;
    width: 290px;
    height: auto;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    color: black;
    margin-left: 35px;
    left: 0px;
}

.formClose {
    position: absolute;
    right: 50px;
    top: 60px;
}

.fa-times {
    color: white;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formFirstBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 35px;
}

.formLastBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 35px;
}

.formEmailBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 35px;
}

.formMsgBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 35px;
}

.formMsgInput {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    width: 520px;
    border-radius: .3rem;
    border: none;
    font-size: 20px;
}

.formFirstInput,
.formLastInput,
.formEmailInput {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 520px;
    height: 35px;
    border-radius: .3rem;
    border: none;
    font-size: 20px;
}

.formFirstLabel,
.formLastLabel,
.formEmailLabel,
.formMsgLabel {
    font-size: 30px;
    margin-bottom: 10px;
}

.formValidBtn {
    /* position: absolute;
    bottom: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #901c1c;
    border: .5px solid var(--color3);
    border-radius: 5px;
    border: none;
    padding: 25px 90px;
    color: #fff;
    width: 110px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 35px;
}

@media screen and (max-width: 1312px) {
    .mediaZoneContainer {
        width: 83vw;
    }
    .mediaImage {
        /* position: relative; */
        border-radius: .3125rem;
        height: 11.875rem;
        object-fit: cover;
        width: 20.9rem;
    }
}

@media screen and (max-width: 1013px) {
    .mainPhotograph {
        margin-top: 30px;
    }
    .contactMe {
        position: fixed;
        z-index: 18;
        top: 95.5vh;
        bottom: 20px;
        left: 50vw;
        right: 50vw;
    }
    .likeAndPriceBottom {
        display: none;
    }
    .formH1 {
        left: 0px;
    }
    .mediaImage {
        position: relative;
    }
}

@media screen and (max-width: 830px) {
    .spanSort,
    .dropdownBtn {
        font-size: 13px;
    }
    .fa-chevron-down,
    .fa-chevron-up {
        margin-left: 10px;
    }
    .name--header-card-photograph {
        font-size: 35px;
    }
    .location--body-card-photograph {
        font-size: 15px;
    }
    .citation--body-card {
        font-size: 13px;
    }
    .photoProfil-photograph {
        height: 10rem;
        width: 10rem;
    }
    .sortZone {
        display: none;
        z-index: 100;
    }
    .contactMe {
        top: 94vh;
        padding-top: 12px;
        height: 15px;
    }
    .navTags-photograph {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 830px) {}

.lightboxPage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 100;
}

.lightboxClose {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color1);
    font-size: 40px;
    margin-top: -70px;
}

.fa-chevron-right,
.fa-chevron-left {
    position: relative;
    color: var(--color1);
    font-size: 40px;
    cursor: pointer;
    z-index: 1500;
}

.fa-chevron-right {
    right: 0;
    margin-left: 50px;
}

.fa-chevron-left {
    left: 0;
    margin-right: 50px;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover,
.lightboxClose:hover {
    transform: scale(1.1);
}

.lightboxImg {
    position: relative;
    border-radius: .3125rem;
    height: 18.75rem;
    width: 21.875rem;
    object-fit: cover;
    margin-left: 0;
    margin: 50px;
    transform: scale(1.5);
}

.lightboxPage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.lightboxContainer {
    position: absolute;
    top: 30vh;
    right: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
}