@media screen and (max-width: 1013px) {
    .mainPhotograph {
        margin-top: 30px;
    }
}

.index--body-card-photograph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photographe--section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    left: 8%;
    /* width: 80vw; */
}

.containerCardPhotograph {
    background-color: var(--color3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    width: 80vw;
    padding: 50px 30px;
    margin-top: 100px;
}

.navTags-photograph {
    margin-top: 20px;
}

.name--header-card-photograph {
    color: var(--color2);
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bold;
}

.location--body-card-photograph {
    color: var(--color1);
    font-size: 20px;
    margin-bottom: 25px;
}

.sortZone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0 50px 0;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

.dropdownContent {
    display: flex;
    flex-direction: column;
}

.spanSort {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5625rem;
}

.mediaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.mediaImage {
    border-radius: .3125rem;
    height: 11.875rem;
    object-fit: cover;
    width: 20.9rem;
}

.mediaZoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70vw;
}

.mediaTitle,
.mediaPrice,
.mediaLike {
    font-size: 1.1m;
    font-weight: 400;
    color: var(--color1);
}

.mediaPrice,
.mediaLike {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.mediaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0;
    margin-left: 50px;
}

.far {
    margin-left: 5px;
}

.fas {
    margin-left: 5px;
}

.fa-chevron-down,
.fa-chevron-up {
    margin-left: 20px;
}

.mediaNbLike {
    margin-left: 8px;
}

.dropdownContainer {
    position: absolute;
    left: 10vw;
}

.dropdownDate {
    /* align-items: center; */
    background: #901c1c;
    /* border: none; */
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
}

.dropdownDate:hover,
.dropdownTitle:hover {
    opacity: 0.83;
}

.dropdownTitle {
    background: #901c1c;
    /* border: none; */
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
}

.dropdownBtn {
    align-items: center;
    background: #901c1c;
    /* border: none; */
    border: .5px solid var(--color3);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    padding: .625rem 1.25rem;
    cursor: pointer;
    margin-top: -15px;
}

.far,
.fas {
    cursor: pointer;
}

.likeAndPriceBottom {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    right: 50px;
    width: 21rem;
    background: #db8876;
    height: 70px;
    border-radius: .3rem;
}

.likeAndPriceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.likeAndPriceLike,
.likeAndPriceHeart,
.likeAndPricePrice {
    font-size: 1.2em;
    font-weight: 500;
}

.likeAndPriceZoneLike {
    margin-right: 105px;
}