.index--body-card-photograph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photographe--section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    left: 8%;
    /* width: 100%; */
}

.containerCardPhotograph {
    background-color: var(--color3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    width: 80vw;
    padding: 50px 30px;
    margin-top: 100px;
}

.navTags-photograph {
    margin-top: 20px;
}

.name--header-card-photograph {
    color: var(--color2);
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bold;
}

.location--body-card-photograph {
    color: var(--color1);
    font-size: 20px;
    margin-bottom: 25px;
}

.citation {
    color: var(--color1);
    font-size: 15px;
    margin-bottom: 12px;
    /* text-align: center; */
}

.far,
.fas {
    cursor: pointer;
}

.far:hover,
.fa-heart:hover {
    transform: scale(1.1)
}

@media screen and (max-width: 1013px) {
    .mainPhotograph {
        margin-top: 30px;
    }
}

@media screen and (max-width: 830px) {
    .name--header-card-photograph {
        font-size: 35px;
    }
    .location--body-card-photograph {
        font-size: 15px;
    }
    .citation--body-card {
        font-size: 13px;
    }
    .photoProfil-photograph {
        height: 10rem;
        width: 10rem;
    }
    .navTags-photograph {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 420px) {
    .photoProfil-photograph {
        height: 5rem;
        width: 5rem;
    }
}